.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

.logo img {
  height: 40px;
}
.nav-links a {
  position: relative;
  text-decoration: none;
  color: black;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: black;
  left: 0;
  bottom: -2px;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links Link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  position: relative;
}

.nav-links Link:hover {
  text-decoration: none;
}

.nav-links Link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #007bff;
  transition: width 0.3s;
  position: absolute;
  bottom: -3px;
  left: 0;
}

.nav-links Link:hover::after {
  width: 100%;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-bar {
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 5px 10px;
  width: 250px;
}

.search-bar input {
  border: none;
  outline: none;
  font-size: 14px;
  margin-left: 10px;
  width: 100%;
}

.search-icon {
  color: #888;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  /*color: #333;*/
  display: flex;
  align-items: center;
}

.icon-button:hover {
  color: #007bff;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
  display: flex;
  align-items: center;
  position: relative;
  transition: color 0.3s ease;
}

.icon-button:hover {
  color: #000000;
}

.icon-button::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid #6e6e6e;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease;
  opacity: 0;
}

.icon-button:hover::before {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
